{{#section 'js'}}
<script type="text/javascript">
    $('.add').on('click', function () {
        var id = $(this).data('proid');
        $('#proID').val(id);
        $('#frmItem').submit();
    });
</script> 
{{/section}}
<div class="center_title_bar">Nhà sản xuất {{ManID}}</div>
{{#each proCodes}}
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title">
            <a href="/product?id={{proID}}">{{proName}}</a>
        </div>
        <div class="product_img">
            <a href="/product?id={{proID}}">
                <img src="images/{{catCode}}/{{proCode}}.jpg" alt="" border="0" width="50" height="80" />
            </a>
        </div>
        <div class="prod_price">
            <span class="price">{{proPrice}} VND</span>
        </div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab">
        {{#if ../layoutVM.isLogged}}
        <a href="#" title="Thêm vào giỏ hàng" data-proid="{{proID}}" class="add"><img src="images/cart.gif" alt="" border="0" class="left_bt"></a>
        {{/if}}
        <a href="#" title="Đã bán {{proQuatity}} sản phẩm">
            <img src="images/favs.gif" alt="" border="0" class="left_bt" />
        </a>
        <a href="#" title="{{proView}} lượt xem">
            <img src="images/favorites.gif" alt="" border="0" class="left_bt" />
        </a>
        <a class="prod_details">{{proDate}}</a>
    </div>
</div>
{{/each}}
<form id="frmItem" method="post" action="/cart/add" style="display:none">
    <input id="proID" type="text" name="proID">
    <input id="proQuantity" type="number" name="proQuantity" value="1">
</form>