<div class="left_content">
    <div class="title_box">Quản lý tài khoản</div>
    <ul class="left_menu">
        <li class="profile_active">
            <a href="/account">
                <span class="glyphicon-user" aria-hidden="true" style="color: red"></span>Thông tin tài khoản</a>
        </li>
        <li class="profile">
            <a href="#">
                <span class="glyphicon-shopping-cart" aria-hidden="true" style="color: red"></span>Quản lý đơn hàng</a>
        </li>
    </ul>
</div>
<!-- end of left content -->
<div class="center_content">
    <div class="center_title_bar">Thông tin tài khoản</div>
    <div class="account-profile">
        <form  action="" method="POST" role="form" onsubmit="return validate();">
            <div class="form-group">
                <label class="label_form" for="name">Họ tên </label>
                <div class="input-wrap">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Họ tên"  value="{{userdetail.hoten}}">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group ">
                <label class="label_form" for="phone_number">Số điện thoại</label>
                <div class="input-wrap">
                    <input type="text" class="form-control" name="phone_number" id="phone_number"  value="{{userdetail.dthoai}}">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group ">
                <label class="label_form" for="address" style="height">Địa chỉ</label>
                <div class="input-wrap">
                    <textarea class="form-control" id="address" name="address" cols="30" rows="10" placeholder="Nhập địa chỉ" value="{{userdetail.diachi}}"></textarea>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="label_form" for="email">Email</label>
                <div class="input-wrap">
                    <input type="email" value="{{userdetail.email}}" class="form-control" name="email" id="email" placeholder="Email" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="label_form" for="gender">Giới tính</label>
                <div class="input-wrap">
                    <input type="radio" name="gender" id="gender_male" value="Nam">Nam
                    <input type="radio" name="gender" id="gender_female" value="Nữ">Nữ
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="label_form" for="">Ngày sinh
                </label>
                <div class="input-wrap">
                    <div id="birthday-picker" class="birthday-picker">
                        <input class="birth-control" type="date" name="" min="1970-01-01" min="2012-12-31" style="width: 90%;" value="{{userdetail.ngaysinh}}"/>
                    </div>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-wrap" style="margin-left: 0">
                    <label class="checkbox">
                        <input type="checkbox" id="change_pass" name="change_pass" style="width: 15px" onclick="passCheck()" value="checked">Đổi mật khẩu
                    </label>
                </div>
            </div>
            <div class="password-group" id="passgroup">
                <div class="form-group">
                    <label class="control-label" for="old_password">Mật khẩu cũ</label>
                    <div class="input-wrap">
                        <input type="password" name="old_password" class="form-control" id="old_password" value="" autocomplete="off" placeholder="Nhập mật khẩu cũ">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="new-password">Mật khẩu mới</label>
                    <div class="input-wrap">
                        <input type="password" name="new_password" class="form-control" id="new_password" value="" autocomplete="off" placeholder="Mật khẩu từ 6 đến 32 ký tự">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="re_new_password">Nhập lại</label>
                    <div class="input-wrap">
                        <input type="password" name="re_new_password" class="form-control" id="re_new_password" value="" autocomplete="off" placeholder="Nhập lại mật khẩu mới">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-wrap" style="margin-left: 15%">
                    <button type="submit" class="btn btn-update btn-success" style="width: 88px;">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of center content -->
<div class="right_content">
    <div class="title_box">Có gì mới?</div>
    <div class="border_box">
        <div class="product_title">
            <a href="details.html">Canon mới</a>
        </div>
        <div class="product_img">
            <a href="details.html">
                <img name="new_cam_img" src="images/p2.jpg" alt="" border="0" />
            </a>
        </div>
        <div class="prod_price">
            <span class="reduce">3500000 VND</span>
            <span class="price">2700000 VND</span>
        </div>
    </div>
    <div class="title_box">Nhà sản xuất</div>
    <ul class="left_menu">
        <li class="odd">
            <a href="/manufacture?id=Cannon">Cannon</a>
        </li>
        <li class="even">
            <a href="/manufacture?id=Sony">Sony</a>
        </li>
        <li class="odd">
            <a href="/manufacture?id=Nikon">Nikkon</a>
        </li>
        <li class="even">
            <a href="/manufacture?id=Fujifilm">Fujifilm</a>
        </li>
    </ul>
    <div class="banner_adds">
        <a href="#">
            <img src="images/bann1.jpg" alt="" border="0" />
        </a>
    </div>
</div>
<!-- end of right content -->