{{#section 'title'}} Tài khoản của tôi {{/section}} {{#section 'js'}}
<script type="text/javascript">
    $("input[name=gender][value='{{userdetail.gioitinh}}']").prop("checked",true);
    var validate = function () {
        var a = document.getElementById('change_pass');
        if (a.checked == true) {
            if ($('#new_password').val().length === 0) {
                alert('Lỗi mật khẩu');
                return false;
            }
            if ($('#new_password').val() !== $('#re_new_password').val()) {
                alert('Mật khẩu mới không trùng khớp');
                return false;
            }
        }

        return true;
    }
    function passCheck() {
        var a = document.getElementById('change_pass');
        if (a.checked == true)
            document.getElementById('passgroup').setAttribute('style', 'display:block');
        else
            document.getElementById('passgroup').setAttribute('style', 'display:none');
    }
</script> {{/section}}
<div class="left_content">
    <div class="title_box">Quản lý tài khoản</div>
    <ul class="left_menu">
        <li class="profile_active">
            <a href="/account">
                <span class="glyphicon-user" aria-hidden="true" style="color: red"></span>Thông tin tài khoản</a>
        </li>
        <li class="profile">
            <a href="/account/order">
                <span class="glyphicon-shopping-cart" aria-hidden="true" style="color: red"></span>Quản lý đơn hàng</a>
        </li>
    </ul>
</div>
<!-- end of left content -->
<div class="center_content">
    <div class="center_title_bar">Thông tin tài khoản</div>
    <div class="account-profile">
        <form action="" method="POST" role="form" onsubmit="return validate();">
            <div class="form-group">
                <label class="label_form" for="name">Họ tên </label>
                <div class="input-wrap">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Họ tên" value="{{userdetail.hoten}}">
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="label_form" for="gender">Giới tính</label>
                <div class="input-wrap">
                    <input type="radio" name="gender" id="gender_male" value="Nam">Nam
                    <input type="radio" name="gender" id="gender_female" value="Nữ">Nữ
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="label_form" for="">Ngày sinh
                </label>
                <div class="input-wrap">
                    <div id="birthday-picker" class="birthday-picker">
                        <input class="birth-control" type="date" name="dob" min="1970-01-01" min="2012-12-31" value="{{userdetail.ngaysinh}}"
                        />
                    </div>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group ">
                <label class="label_form" for="phone_number">Số điện thoại</label>
                <div class="input-wrap">
                    <input type="text" class="form-control" name="phone_number" id="phone_number" value="{{userdetail.dthoai}}">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group ">
                <label class="label_form" for="address" style="height">Địa chỉ</label>
                <div class="input-wrap">
                    <textarea class="form-control" id="address" name="address" cols="30" rows="10" placeholder="Nhập địa chỉ" style="height:105px;">{{userdetail.diachi}}</textarea>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="label_form" for="email">Email</label>
                <div class="input-wrap">
                    <input type="email" value="{{userdetail.email}}" class="form-control" name="email" id="email" placeholder="Email" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="input-wrap" style="margin-left: 0">
                    <label class="checkbox">
                        <input type="checkbox" id="change_pass" name="change_pass" style="width: 15px" onclick="passCheck()" value="checked">Đổi mật khẩu
                    </label>
                </div>
            </div>
            <div class="password-group" id="passgroup">
                <div class="form-group">
                    <label class="control-label" for="new-password">Mật khẩu mới</label>
                    <div class="input-wrap">
                        <input type="password" name="new_password" class="form-control" id="new_password" value="" autocomplete="off" placeholder="Mật khẩu từ 6 đến 32 ký tự">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="re_new_password">Nhập lại</label>
                    <div class="input-wrap">
                        <input type="password" name="re_new_password" class="form-control" id="re_new_password" value="" autocomplete="off" placeholder="Nhập lại mật khẩu mới">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-wrap" style="margin-left: 15%">
                    <button type="submit" class="btn btn-update btn-success" style="width: 88px;">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of center content -->
<<<<<<< HEAD

=======
<div class="right_content">
      <div class="shopping_cart">
        <div class="cart_title">Giỏ hàng</div>
        <div class="cart_details"> 2 sản phẩm
          <br>
          <br>
          <span class="border_cart"></span>
        </div>
        <div class="cart_icon">
          <a href="/cart" title="Checkout">
            <img src="../images/shoppingcart.png" alt="" width="48" height="48" border="0">
          </a>
        </div>
      </div>
    <div class="title_box">Có gì mới?</div>
    <div class="border_box">
        <div class="product_title">
            <a href="details.html">Canon mới</a>
        </div>
        <div class="product_img">
            <a href="details.html">
                <img name="new_cam_img" src="../images/p2.jpg" alt="" border="0" />
            </a>
        </div>
        <div class="prod_price">
            <span class="reduce">3500000 VND</span>
            <span class="price">2700000 VND</span>
        </div>
    </div>
    <div class="title_box">Nhà sản xuất</div>
    <ul class="left_menu">
        <li class="odd">
            <a href="/manufacture?id=Cannon">Cannon</a>
        </li>
        <li class="even">
            <a href="/manufacture?id=Sony">Sony</a>
        </li>
        <li class="odd">
            <a href="/manufacture?id=Nikon">Nikkon</a>
        </li>
        <li class="even">
            <a href="/manufacture?id=Fujifilm">Fujifilm</a>
        </li>
    </ul>
    <div class="banner_adds">
        <a href="#">
            <img src="../images/bann1.jpg" alt="" border="0" />
        </a>
    </div>
</div>
>>>>>>> d8e9563c9ee90c55af78763fd168f4ef92ca9a34
<!-- end of right content -->