<div class="left_content">
    <div class="title_box">Quản lý tài khoản</div>
    <ul class="left_menu">
        <li class="profile">
            <a href="/account">
                <span class="glyphicon-user" aria-hidden="true" style="color: red"></span>Thông tin tài khoản</a>
        </li>
        <li class="profile_active">
            <a href="/account/order">
                <span class="glyphicon-shopping-cart" aria-hidden="true" style="color: red"></span>Quản lý đơn hàng</a>
        </li>
    </ul>
</div>
<!-- end of left content -->
<div class="content-right">
    <h1 class="order-title">Đơn hàng của tôi</h1>
    <div class="order-board">
        <table class="table-custom">
            <thead>
                <tr>
                    <th style="width: 100px">Mã đơn hàng</th>
                    <th style="width: 100px">Ngày mua</th>
                    <th style="width: 120px">Tổng tiền</th>
                    <th style="width: 20px"></th>
                    <th style="width: 85px">Trạng thái
                        <br> đơn hàng</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>
                        <a href="/account/orderdetail?id={{OrderID}}">{{OrderID}}</a>
                    </td>
                    <td>{{OrderDate}}</td>
                    <td>{{number_format Total}}&nbsp;₫</td>
                    <td>
                    </td>
                    <td>
                        <span class="order-status">{{Status}}}</span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>