{{#section 'js'}}
<script>
    function back(){
        location.href = '/account/order';
    }
</script>
{{/section}}
<div class="left_content">
    <div class="title_box">Quản lý tài khoản</div>
    <ul class="left_menu">
        <li class="profile">
            <a href="/account">
                <span class="glyphicon-user" aria-hidden="true" style="color: red"></span>Thông tin tài khoản</a>
        </li>
        <li class="profile_active">
            <a href="/account/order">
                <span class="glyphicon-shopping-cart" aria-hidden="true" style="color: red"></span>Quản lý đơn hàng</a>
        </li>
    </ul>
</div>
<!-- end of left content -->
<div class="content-right">
    <h1 class="orderview-title">Chi tiết đơn hàng #{{orders.OrderID}} -
        <strong> Chưa giao hàng</strong>
        <p class="date">Ngày đặt hàng: {{orders.OrderDate}}</p>
    </h1>
    <div class="account-order-detail">
        <div class="address-1">
            <h3>Địa chỉ người nhận</h3>
            <div>
                <p class="name">{{orders.hoten}}</p>
                <p>
                    <span>Địa chỉ: </span>{{orders.diachi}}</p>
                <p>
                    <span>Điện thoại: </span>{{orders.dthoai}}</p>
            </div>
        </div>
        <div class="payment-1">
            <h3>Hình thức giao hàng</h3>
            <div>
                <p>Vận chuyển Tiết Kiệm</p>
                <p>{{number_format orders.Ship}}&nbsp;₫</p>
            </div>
        </div>
        <div class="payment-2">
            <h3>Hình thức thanh toán</h3>
            <div>
                <p>Thanh toán tiền mặt khi nhận hàng </p>
            </div>
        </div>
    </div>
    <div class="order-board">
        <table class="table-custom">
            <thead>
                <tr>
                    <th style="width: 450px">Sản phẩm</th>
                    <th style="width: 85px">Giá</th>
                    <th style="width: 70px">Số lượng</th>
                    <th style="width: 75px">Giảm giá</th>
                    <th style="width: 100px">Tạm tính</th>
                </tr>
            </thead>
            <tbody>
                {{#each details}}
                <tr>
                    <td>
                        <a href="/product?id={{pro.ProID}}">
                            <img src="../images/{{fd}}/{{pro.proCode}}.jpg" alt="" style="width: 100px; height: 80px; float: left;">
                        </a>
                        <div class="info-item" style="padding-top: 2px; width: 214px;padding-left: 10px">
                            <p class="name">
                                <a href="/product?id={{pro.ProID}}">{{pro.proName}}</a>
                            </p>
                            <p class="seller-by">
                                Cung cấp bởi
                                <a href="/" style="color: blue">Thế giới máy ảnh</a>
                            </p>
                        </div>
                    </td>
                    <td>{{number_format pro.Price}}&nbsp;₫</td>
                    <td>{{pro.Quantity}}</td>
                    <td>0&nbsp;₫</td>
                    <td>
                        <span class="order-status">{{number_format pro.Amount}}&nbsp;₫</span>
                    </td>
                </tr>
                {{/each}}
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <span>Tổng tạm tính</span>
                        </td>
                        <td>{{number_format total}}&nbsp;₫</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span>Phí vận chuyển</span>
                        </td>
                        <td>{{number_format orders.Ship}}&nbsp;₫</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span>Tổng cộng</span>
                        </td>
                        <td>
                            <span class="sum">{{number_format orders.Total}}&nbsp;₫</span>
                        </td>
                    </tr>
                </tfoot>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-update btn-success" style="width: 165px; height: 35px;margin-bottom: 10px" onclick="back()">
    Quay lại quản lý đơn hàng</button>
</div>
<!-- end of right content -->