{{#section 'title'}} Trang chủ > Giỏ hàng > Thanh toán {{/section}}
{{#section 'js'}}
<script type="text/javascript">
    function change(id){
        var number = '#' + id;
        var num = $(number).val();
        var max = document.getElementById(id).getAttribute("max");
        if (num > max || num <= 0) {
            num = 1;
            alert("Số lượng sản phẩm không đủ");
            return;
        }
        $('#txtproID_C').val(id);
        $('#txtQuantity_C').val(num);
        $('#frmChangeItem').submit();
    }
</script>
<script type="text/javascript">
    $('.removeItem').on('click', function () {
        var id = $(this).data('proid');
        $('#txtproID_R').val(id);
        $('#frmRemoveItem').submit();
    });
    $('.changeItemUp').on('click', function () {
        var id = $(this).data('proid');
        var number = '#' + id;
        var num = $(number).val();
        num++;
        var max = document.getElementById(id).getAttribute("max");
        if (num > max) {
            num = num--;
            alert("Số lượng sản phẩm không đủ");
        }
        $('#txtproID_C').val(id);
        $('#txtQuantity_C').val(num);
        $('#frmChangeItem').submit();
    });
    $('.changeItemDown').on('click', function () {
        var id = $(this).data('proid');
        var number = '#' + id;
        var num = $(number).val();
        num--;
        if (num <= 0) {
            num = $(number).val();
            alert("Số lượng sản phẩm không phù hợp");
        }        

        $('#txtproID_C').val(id);
        $('#txtQuantity_C').val(num);
        $('#frmChangeItem').submit();
    });
    $('.order').on('click', function () {
        $('#frmOrder').submit();
        console.log("Summited pay");
    });
</script> {{/section}}

<div class="cart_form">
    <div class="cart_name">Thanh toán</div>
    <div class="row" style="min-height: 550px">
        <div class="col-xs-8 cart-col-1">
            <form>
                {{#each items}}
                <div class="row cart-item">
                    <div class="col-xs-3 img-custom" style="float: left;">
                        <p>
                            <a href="details.html">
                                <img src="../images/{{fd}}/{{Product.proCode}}.jpg" alt="" style="width: 140px; height: 120px">
                            </a>
                        </p>
                    </div>
                    <div class="col-right">
                        <div class="info-item">
                            <p class="name">
                                <a href="details.html">{{Product.proName}}</a>
                            </p>
                            <p class="seller-by">
                                Cung cấp bởi
                                <a href="index.html" style="color: blue">Thế giới máy ảnh</a>
                            </p>
                            <p class="action">
                                <button type="button" class="btn-form removeItem" href="javascript:;" style="width: 45px;height: 30px" data-proid="{{Product.proID}}">Xóa</button>
                            </p>
                        </div>
                        <div class="price">
                            <p class="price-font">{{number_format Product.proPrice}}&nbsp;₫</p>
                            <p class="price-font2">{{number_format Product.proPrice}}&nbsp;₫</p>
                            <p class="sale">-0%</p>
                        </div>
                        <div class="block-num">
                            <button class="btn changeItemDown" type="button " data-proid="{{Product.proID}}">-</button>
                            <input type="number" id="{{Product.proID}}" min="1" max="{{Product.proQuantity}}" value="{{Quantity}}" class="number" onchange="change({{Product.proID}})">
                            <button class="btn changeItemUp" type="button" data-proid="{{Product.proID}}">+</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </form>
        </div>
        <div class="col-xs-4 cart-col-2">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="font-size: 18px">Thanh toán vận chuyển</h4>
                    </div>
                    <div id="" class="panel-collapse collapse">
                        <div class="panel-body address-class">
                            <div class="address-title">
                                <span>Giao hàng tới</span>
                                <a href="/account" class="address-edit">Chỉnh sửa</a>
                            </div>
                            <div class="address-name">
                                <strong>{{user.hoten}}</strong>
                            </div>
                            <div class="address-info">
                                {{user.diachi}}
                            </div>
                            <div class="address-phone">
                                {{user.dthoai}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right" class="box-top" style="">
                <div class="row-box">
                    <h4 class="panel-title" style="font-size: 18px">Thông tin đơn hàng</h4>
                    <div class="box-style">
                        <p>
                            <span>Tạm tính:</span>
                            <strong style="float: right;" id="sum">{{number_format total}}&nbsp;₫</strong>
                        </p>
                    </div>
                    <div class="box-style">
                        <p>
                            <span>Phí giao hàng:</span>
                            <strong style="float: right;" id="sum">{{number_format ship}}&nbsp;₫</strong>
                        </p>
                    </div>
                    <div class="box-style">
                        <div class="">
                            <span style="margin-top: 5px; display: inline-block">Thành tiền:</span>
                            <strong style="float: right; color: #fe3834; font-size: 22px;">{{number_format total_ship}}&nbsp;₫ </strong>
                        </div>
                    </div>
                    <button type="button" class="btn btn-check order">Tiến hành đặt hàng
                    </button>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="font-size: 13px">Mã giảm giá / Quà tặng</h4>
                            </div>
                            <div id="collapse" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="input-group">
                                        <input id="coupon" placeholder="Nhập ở đây.." type="text" class="form-control" style="border-radius: 4px; height: 20px; border: 1px solid #ddd; padding-left: 5px">
                                        <button class="btn btn-default btn-form" type="button" style="background-color: #fdd835; width: 70px;height: 25px">Đồng ý</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="frmRemoveItem" method="post" action="/cart/remove" style="display:none">
    <input id="txtproID_R" type="text" name="proID_R">
</form>
<form id="frmChangeItem" method="post" action="/cart/change" style="display:none">
    <input id="txtproID_C" type="text" name="proID_C">
    <input id="txtQuantity_C" type="number" name="proQuantity_C">
</form>
<form id="frmOrder" method="post" action="" style="display:none">
</form>