<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #5B959F;
            color: white;
        }
    </style>
</head>
<div class="center_title_bar">
    <a href="adminPro/add">Thêm một loại sản phẩm</a>
</div>
<table id="customers">
    <tr>
        <th>ID</th>
        <th>Mã sản phẩm</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Lượt xem</th>
        <th>Tình trạng</th>
        <th>Số lượng</th>
        <th>Ngày chỉnh sửa</th>
        <th>&nbsp;</th>
    </tr>
    {{#each catgory}}
    <tr>
        <td>{{proID}}</td>
        <td>{{proCode}}</td>
        <td>{{proName}}</td>
        <td>{{proPrice}}</td>
        <td>{{proView}}</td>
        <td>{{proAvailable}}</td>
        <td>{{proQuantity}}</td>
        <td>{{proDate}}</td>
        <td>
            <a href="adminPro/delete?Id={{proID}}" class="a2"/>
            <a href="adminPro/edit?Id={{proID}}" class="a3"/>
        </td>
    </tr>
    {{/each}}
</table>