 <div class="center_title_bar">10 sản phẩm mới nhất</div>
 {{#each top10Newest}}
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title">
            <a href="/product?id={{proID}}">{{proName}}</a>
        </div>
        <div class="product_img">
            <a href="/product?id={{proID}}">
                <img src="images/{{catName}}/{{proCode}}.jpg" alt="" border="0" width="50" height="80" />
            </a>
        </div>
        <div class="prod_price">
            <span class="price">{{proPrice}} VND</span>
        </div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab">
        <a href="#" title="Đã bán {{proQuantity}} sản phẩm">
            <img src="images/favs.gif" alt="" border="0" class="left_bt" />
        </a>
        {{#if ../layoutVM.isLogged}}
        <a href="#" title="Thêm vào giỏ hàng"><img src="images/cart.gif" alt="" border="0" class="left_bt"></a>
        {{/if}}
        <a href="#" title="{{proView}} lượt xem">
            <img src="images/favorites.gif" alt="" border="0" class="left_bt" />
        </a>
        <a class="prod_details">{{proDate}}</a>
    </div>
</div>
{{/each}}

 <div class="center_title_bar">10 sản phẩm bán chạy nhất</div>
 {{#each top10Hot}}
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title">
            <a href="/product?id={{proID}}">{{proName}}</a>
        </div>
        <div class="product_img">
            <a href="/product?id={{proID}}">
                <img src="images/{{catName}}/{{proCode}}.jpg" alt="" border="0" width="50" height="80" />
            </a>
        </div>
        <div class="prod_price">
            <span class="price">{{proPrice}} VND</span>
        </div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab">
        <a href="#" title="Đã bán {{proQuantity}} sản phẩm">
            <img src="images/favs.gif" alt="" border="0" class="left_bt" />
        </a>
        {{#if ../layoutVM.isLogged}}
        <a href="#" title="Thêm vào giỏ hàng"><img src="images/cart.gif" alt="" border="0" class="left_bt"></a>
        {{/if}}
        <a href="#" title="{{proView}} lượt xem">
            <img src="images/favorites.gif" alt="" border="0" class="left_bt" />
        </a>
        <a class="prod_details">{{proDate}}</a>
    </div>
</div>
{{/each}}

 <div class="center_title_bar">10 sản phẩm có nhiều lượt xem nhất</div>
 {{#each top10View}}
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title">
            <a href="/product?id={{proID}}">{{proName}}</a>
        </div>
        <div class="product_img">
            <a href="/product?id={{proID}}">
                <img src="images/{{catName}}/{{proCode}}.jpg" alt="" border="0" width="50" height="80" />
            </a>
        </div>
        <div class="prod_price">
            <span class="price">{{proPrice}} VND</span>
        </div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab">
        <a href="#" title="Đã bán {{proQuantity}} sản phẩm">
            <img src="images/favs.gif" alt="" border="0" class="left_bt" />
        </a>
        {{#if ../layoutVM.isLogged}}
        <a href="#" title="Thêm vào giỏ hàng"><img src="images/cart.gif" alt="" border="0" class="left_bt"></a>
        {{/if}}
        <a href="#" title="{{proView}} lượt xem">
            <img src="images/favorites.gif" alt="" border="0" class="left_bt" />
        </a>
        <a class="prod_details">{{proDate}}</a>
    </div>
</div>
{{/each}}