<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #5B959F;
            color: white;
        }
    </style>
</head>
<div class="center_title_bar">
    <a href="adminCat/add">Thêm một loại sản phẩm</a>
</div>
<table id="customers">
    <tr>
        <th>ID</th>
        <th>Mã loại </th>
        <th>Tên loại sản phẩm</th>
        <th>Thông tin</th>
        <th>&nbsp;</th>
    </tr>
    {{#each catgory}}
    <tr>
        <td>{{catID}}</td>
        <td>{{catCode}}</td>
        <td>{{catName}}</td>
        <td>{{catInfo}}</td>
        <td>
            <a href="adminCat/delete?Id={{catID}}" class="a2"/>
            <a href="#" class="a3"/>
        </td>
    </tr>
    {{/each}}
</table>