<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #5B959F;
            color: white;
        }

        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }
        .alert.success {
            background-color: #4CAF50;
        }

        .alert.info {
            background-color: #5B959F;
        }

        .alert.warning {
            background-color: #ff9800;
        }
    </style>
</head>
<table id="customers">
    <tr>
        <th>ID</th>
        <th>Mã loại </th>
        <th>Tên loại sản phẩm</th>
        <th>Thông tin</th>
        <th>&nbsp;</th>
    </tr>
    {{#each catgory}}
    <tr>
        <td>{{catID}}</td>
        <td>{{catCode}}</td>
        <td>{{catName}}</td>
        <td>{{catInfo}}</td>
        <td>
            <a href="adminCat/delete?Id={{catID}}" class="a2" />
            <a href="adminCat/edit?Id={{catID}}" class="a3" />
        </td>
    </tr>
    {{/each}}
</table>